@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family:'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.formulario {
  max-width: 600px; /* Largura máxima do formulário */
  margin: 20px auto; /* Centraliza com margem superior */
  padding: 20px; /* Espaçamento interno */
  background-color: #ffffff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  font-size: 24px; /* Tamanho do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  font-weight: 500; /* Peso da fonte */
  color: #333; /* Cor do texto */
}

label {
  display: block; /* Cada rótulo em uma nova linha */
  margin-top: 15px; /* Espaçamento acima do rótulo */
  font-weight: 600; /* Rótulos em negrito */
  color: #555; /* Cor do rótulo */
}

input, select {
  width: 100%; /* Largura total dos campos */
  padding: 10px; /* Espaçamento interno dos campos */
  margin-top: 5px; /* Espaçamento acima do campo */
  border: 1px solid #ccc; /* Borda do campo */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
}

input:focus, select:focus {
  border-color: #004F7C; /* Cor da borda ao focar */
  outline: none; /* Remove o contorno padrão */
}

button {
  margin-top: 20px; /* Espaçamento acima do botão */
  padding: 10px 15px; /* Espaçamento interno do botão */
  background-color: #0B71AB; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Sem borda */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte do botão */
}

button:hover {
  background-color: #004F7C; /* Cor de fundo ao passar o mouse */
}
